.header {
  border-bottom: 1px solid #319795;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
  min-height: 5rem;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
}